extends base.pug

block content
    h1= "Partida con ID " + gameId

    div(class="chat", id="chat")
        = ""
    div(class="chatbox")
        textarea(id="chatbox")

    table(class="board")
        tr
            td(id="R1C1", data-board-position="1")
                = '-'
            td(id="R1C2", data-board-position="2")
                = '-'
            td(id="R1C3", data-board-position="3")
                = '-'
        tr
            td(id="R2C1", data-board-position="4")
                = '-'
            td(id="R2C2", data-board-position="5")
                = '-'
            td(id="R2C3", data-board-position="6")
                = '-'
        tr
            td(id="R3C1", data-board-position="7")
                = '-'
            td(id="R3C2", data-board-position="8")
                = '-'
            td(id="R3C3", data-board-position="9")
                = '-'

block scripts
    script.
        var currentPlayer = 0;
        var gameId = '#{gameId}';

        socket.emit('connect_to_game', {gameId: gameId});

        socket.on('game_error', function(payload){
            appendChat(payload.message, 'system-error');
        });

        socket.on('update_board', function (boardDefinition) {
            for (boarddef in boardDefinition) {

                var char = (boardDefinition[boarddef] == 1)
                    ? 'X'
                    : (boardDefinition[boarddef] == 10)
                    ? '0'
                    : '-';

                $('#' + boarddef).html(char);
            }
        });

        socket.on('troll_update', function (payload) {
            appendChat(payload.message, 'system-troll');
        });


        socket.on('update_chat', function (payload) {
            var playerType = (payload.player == 1) ? 'playerA' : 'playerB';
            appendChat(payload.message, playerType);
        });

        $('.board tr td').on('click', function (event) {

            var position = $(this).attr('data-board-position');
            socket.emit('move', {gameId: gameId, position: position, player: currentPlayer});

        });

        $("#chatbox").keypress(function (e) {
            if (e.which == 13) {
                var text = $("#chatbox").val();
                sendChatMessageToServer(text);
                $("#chatbox").val('');
            }
        })

        function sendChatMessageToServer(msg) {
                socket.emit(
                    'chat_message',
                    {
                        gameId: gameId,
                        message: msg
                    }
                );
        }

        function appendChat(msg, type) {
            $('#chat').prepend('<p class="'+type+'">' + msg + '</p>');
        }

        function switchPlayer() {
            currentPlayer = (currentPlayer == 10) ? 1 : 10;
        }

        switchPlayer()

        $(".board").fadeIn();


