body{
    font-family: 'Roboto', sans-serif;
}
table.board tr td{
    padding: 10px;
    text-align: center;
    cursor: pointer;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 40px;
    width: 33%;
}


table.board tr td:hover{
    background-color: gainsboro;
}

.board {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    width: 100%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    display: none;
    background-color: aliceblue;
}

.board-your-turn {
    background-color: #9bd1a2;
}

.board-game-not-ready{
    background-color: #ff4d10;
}

.board-game-trolled{
    background-color: #fff595;
}

.trollface{
    width: 30px;
    height: 30px;
}

.row-index-logo{
    margin-top: 5px;
}

.row-index-buttons {
    margin-top: 20px;
}
.row-index-info{
    margin-top: 20px;
}

.row-rematch-game{
    margin-top: 4px;
    margin-bottom: 4px;
}